.App {
  text-align: center;
}
.title {
  height:150px;
  font-size: 100px;
  text-align: center;
  cursor: pointer;
}

.text {
  height:250px;
  
  
}

.navbar {
  margin:auto;
  max-width:1180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:150px;
  padding:0 10px;
}

.logo {
  width: 200px;
  height: 100px;
  font-size: 70px;
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .navbar {
    position: relative;
  }
}

.element_wrap {
  display: flex;
  grid-gap: 30px;
  gap: 30px;
  align-items: center;
}

.post_register {
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}
.category-item {
  display: flex;
  font-weight: 700;
  font-size: 26px;
  line-height: 126.5%;
  cursor: pointer;
  position: relative;
}
.category {
  display:flex;
  grid-gap: 50px;
  gap: 50px;
  border-bottom: 3px solid #f2f2f2;
  padding-bottom: 20px;
  padding-left: 16px;
  margin-bottom: 30px;
  padding-top:20px;
}
.filter-listbox {
  width:100%;
  padding:10px;

}

.main_wrap {
  margin: 0 auto;

  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 820px) {
.main_wrap {
  width : 100%;
  } 
}
@media screen and (max-width: 1300px) {
.main_wrap {
  width : 100%;
  }
}

.teamList {
  display: flex;
  grid-gap: 35px;
  gap: 35px;
  flex-wrap: wrap;
  padding: 0;
  margin-left:8%;
  margin-right:5%;
}

@media screen and (max-width: 820px) {
  .teamList {
    grid-gap: 20px;
    gap: 20px;
  }
}

.teamItem_open {
  opacity: 1;
}

.teamItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px-26px-26px-34px;
  width: 370px;
  height: 450px;
  background: #fff;
  border: 2px solid #d1d1d1;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: .2s ease-in
}

.userName {
  
  font-size: 20px;
  font-weight: 400;
}

div {
  display: block;
}


@media screen and (max-width: 767px) {
  .teamItem {
    width: 100%;
  }
}


@media screen and (max-width: 820px) {
  .teamItem {
    padding: 68px 40px 27px 30px;
    width: 256px;
    height: 430px;
  }
}

@media screen and (max-width: 575px) {
  .teamList {
    padding: 10px;
  }
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start:40px;
}

@media screen and (max-width: 820px) {
  .team {
    grid-gap: 20px;
    gap: 20px;
  }
}

.teamItem_schedule {
  display: flex;
  font-size:18px;
  grid-gap:10px;
  gap:10px;
  color: rgba(0,0,0,.4);
}

@media screen and (max-width:820px) {
  .teamItem_schedule{
    font-size: 18px;
    grid-gap: 10px;
    gap: 10px;
  }
}

li {
  padding: 0;
}

li,p { margin: 0;

}

li {
  display: list-item;
  text-align: -webkit-match-parent;

}

ul {
  list-style: none;
}
.user_box {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 5%;
}

.teamItem_schetitle {
  font-size: 18px;
  letter-spacing: 4%;
}

@media screen and (max-width: 820px) {
.teamItem_name {
  font-size: 24px;
  min-height: 72px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -.04em;
  margin: 15px 0;
}}

.teamItem_name {
  font-size: 24px;
  min-height: 72px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: -.04em;
  margin: 16px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden;
}

.teamItem_hashtag {
  display: flex;
  margin-left: 20%;
  margin-right: 10%; 
  grid-gap: 10px;
  gap: 15px;
  font-size: 18px;
  color: rgba(0,0,0,.4);
  min-height: 30px;
  margin-bottom: 40px;
}

@media screen and (max-width: 820) {
  .teamItem_hashtag {
    font-size: 18px;
    min-height: 23px;
    margin-bottom: 45px;
  }
}
* {
  box-sizing:  inherit;
}

h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a:-webkit-any-link {
  color: webkit link;
  cursor: pointer;
}

.teamItem_info {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  border-top: 2px solid #f2f2f2;
  padding-top: 16px;
}

@media screen and (max-widht:840px) {
  .teamItem_info {
    font-size: 12px;
    padding-top:10px;
  }
}

section {
  display: block;
}

.teamdetail_name {
  background-color: aquamarine;
  width: 100%;
  height: 200px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.writingtitle {
  position:absolute;
  top:50%;
  
  width:100%;
}

.writingtitle_writing {
  justify-content: center;
}

textarea {
  box-sizing: border-box;
  border: solid 5px #1E90FF;
  border-radius: 5px;
  width: 90%;
  height: 100px;
  font-size: 16px;

}

.detail_input_outer{
  width: 90%;
  margin-left:5%;
  margin-right:5%;
}


.detail_div {
  position:absolute;
  top:80%;
  display: flex;
  


}

.content_div {
  position:absolute;
  top:150%;
  width:100%
}

.content_div_writing {
  justify-content: center;
}

.content_div > textarea {
  box-sizing: border-box;
  border: solid 5px #1E90FF;
  border-radius: 5px;
  width: 90%;
  height: 100px;
  font-size: 16px;
}



.input_style {
  border-left-width:0; 
  border-right-width:0; 
  border-top-width:0; 
  border-bottom-width:1;

}

.writingbox {
  width: 80%;
  /* height: 100%; */
  position: absolute;
  background-color: #f2f2f2;
  top:70%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  box-sizing: border-box;
}

.titlebox {
 
  width: 90%;
  height: 100px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  box-sizing: border-box;
  
  

}
.titlewriting {
  width: 100%;
  height: 70px;
  font-size: 30px;
  background-color:#f2f2f2;
  border-color:#d1d1d1;
  border-left-width:0; border-right-width:0; border-top-width:0; border-bottom-width:1;
  box-sizing: border-box;
}

.detailbox {
  width: 100%;
  height:330px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content:center;
  margin-top: 5%;
  

}


.detail_input {
  box-sizing: border-box;
  margin: 3%;
  width: 40%;
  height: 50px;
  font-size: 20px;
  background-color:#f2f2f2;
  border-color:#d1d1d1;
  border-left-width:0; border-right-width:0; border-top-width:0; border-bottom-width:1;
}

.intro_box {
  width: 100%;
  height: 300px;
  display: block;
  margin-top:10%;
  margin-bottom: 10%;
  box-sizing: border-box;
}
 .intro_textarea {
  width: 90%;
  height: 300px;
  font-size: 20px;
  background-color: #f2f2f2;
  border-color: #d1d1d1;
  border-width: 2px;
  margin-left:5%;
  margin-right:5%;
  box-sizing: border-box;

 }

/* teamdetail page css */

.studyContent_wrapper {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem 1.5rem 5rem;
  position: absolute;
  top: 60%

}

@media screen and (max-width: 768px) {
  .studyContent_wrapper {
    width: 100%;
  }
}

.studyContent_postHeader {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 5%;
  margin-right:5%;
}
* {
  box-sizing: inherit;
}
section {
  display: block;
}

.studyContent_title {
  margin-top:2.5rem;
  font-weight:800;
  font-size:3rem;
  line-height: 126.5%;
  letter-spacing: -.005em;
  color: #000;
  
}

@media screen and (max-width: 575px) {
  .studyContent_title {
    font-size:  1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .studyContent_title {
    font-size:  2rem;
  }
}

.studyContent_user {
  margin-top:  32px;
  padding-bottom: 32px;
  border-bottom: 3px solid #f2f2f2;
  display:flex;
  grid-gap: 15px;
  gap: 15px;
  align-items:center;
}

.studyContent_username {
  display:flex;
  align-items: center;
  position: relative;
  margin-left:5%
  
}

.studyInfo_grid {
  display: grid;
  grid-template-columns: repeat(2,3fr);
  grid-row-gap: 24px;
  row-gap: 24px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .studyInfo_grid {
    grid-template-columns: reapeat(1, 6fr);
    grid-row-gap: 16px;
    row-gap: 16px;
  }
}
  


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

}



.studyInfo_contentwrap_detail {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

@media screen and(max-width:768px) {
  .studyInfo_contentwrap_detail {

    font-size: 16px;
  }
}

.studyInfo_title {
  color: #717171;
  margin-right: 40px;
}

.studyInfo_content {
  color: #333;
}

.studyContent_post {
  margin-top: 132px;
  font-size: 1.125rem;
  word-break: break-all;
  line-height: 1.7;
  letter-spacing: -.004em;
  margin-left:5%;
  margin-right:5%;
}

.studyContent_postinfo {
  margin: 0;
  color: #333;
  font-size:26px;
  font-weight: 700;
  padding-bottom: 24px;
  border-bottom: 3px solid #f2f2f2;
}

@media screen and (max-width: 575px) {
  .studyContent_postinfo {
    font-size: 20px;
  }
}

.studyContent_postcontent {
  width: 100%;
  margin: 40px auto 0;
}

.del_button {
  background-color: lightgray;
  color: w;
  font-size: 10px;
  padding: 10px 30px;
  border-radius: 50%;
  margin: 10px 10px;
  cursor: pointer;
  border-width: 0
}





